html {
	color: #e6e0d4;
	background-color: #080808;
	display: flex;
	font: "Garamond", Times, serif;
}


	
h1 {
	color: #b0927a;
}
h2 {
	color: #b0927a;
}
h3 {
	color: #b0927a;
}
h4 {
	color: #b0927a;
}
h5 {
	color: #b0927a;
}
h6 {
	color: #b0927a;
}



a {
	color: #B2AD99;
}
a:hover {
	color: #733635;
}


mark {
	background-color: #e6e0d4;
	color: 080808;
}